DATABASE_URL=postgresql://user:pass@ep-xxx.us-east-1.aws.neon.tech/dbname?sslmode=require
BILLPLZ_API_KEY=your_live_api_key
BILLPLZ_COLLECTION_ID=your_collection_id
BILLPLZ_BASE_URL=https://www.billplz.com/api/v3
NEXT_PUBLIC_APP_URL=https://your-app.vercel.app
JWT_SECRET=your-super-secret-jwt-key-minimum-32-characters


DEV : 07f53ac5-31c0-4a67-89e8-e3b9ecbf6c0c
n78rkmkw

# BillPlz — get your API key from https://www.billplz-sandbox.com/enterprise/api_key
BILLPLZ_API_KEY=7172d199-8d9b-45fc-b9b1-326c1a65c7fa
BILLPLZ_COLLECTION_ID=jq2mxpk4
BILLPLZ_BASE_URL=https://www.billplz.com/api/v3